---
import Button from "./ui/Button.astro";
import { footerData } from "../lib/text-data";
import ButtonFlip from "./ui/ButtonFlip.astro";
import { t } from "i18next";
---

<footer class="footer">
	<div class="container">
		<div class="section one">
			<h3>
				{t("footer.title1")}
			</h3>
			<div class="button-box">
				<ButtonFlip
					href="/kontakt"
					footer
					body={t("footer.button1")}
					size={"large"}
				/>
			</div>
		</div>
		<div class="section two">
			<h2 class="two-item">
				{t("footer.word1")}<br />{t("footer.word2")}<br />{
					t("footer.word3")
				}<br />
			</h2>
			<a href="#" class="two-item linksp">
				<button class="contact-button">
					<svg
						width="34"
						height="34"
						viewBox="0 0 32 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M27 7L5 7C3.89543 7 3 7.89543 3 9L3 24C3 25.1046 3.89543 26 5 26L27 26C28.1046 26 29 25.1046 29 24L29 9C29 7.89543 28.1046 7 27 7Z"
							stroke="white"
							stroke-width="2"></path>
						<path
							d="M3 8L14.6434 18.7478C15.4096 19.455 16.5904 19.455 17.3566 18.7478L29 8"
							stroke="white"
							stroke-width="2"></path>
						<path
							d="M19.25 17L29 25M3 25L12.75 17"
							stroke="white"
							stroke-width="2"></path>
					</svg>
				</button>
				<span class="link">{footerData.section2.mailbutton}</span>
			</a>
			<a href="#" class="two-item linksp">
				<button class="contact-button">
					<svg
						width="34"
						height="34"
						viewBox="0 0 32 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M12.9735 18.0265C10.8476 15.9005 10.0004 13.4405 10.0004 13.4405L12.2052 11.2357C12.586 10.8549 12.7009 10.2816 12.4965 9.78185L10.0445 3.82755C9.75986 3.13805 8.96747 2.81468 8.28197 3.10865L3.81224 5.02483C3.26705 5.25733 2.93566 5.81989 3.01049 6.40784C3.33119 8.91597 4.66075 15.66 10.0004 20.9996C15.34 26.3392 22.084 27.6688 24.5922 27.9895C25.1801 28.0643 25.7427 27.7329 25.9752 27.1878L27.8913 22.718C28.1853 22.0325 27.862 21.2401 27.1724 20.9555L21.2181 18.5035C20.7184 18.2991 20.1451 18.4126 19.7643 18.7948L17.5595 20.9996C17.5595 20.9996 15.0995 20.1524 12.9735 18.0265Z"
							stroke="white"
							stroke-width="2"></path>
					</svg>
				</button>
				<span class="link">{footerData.section2.phonebutton}</span>
			</a>
		</div>
		<span class="line"></span>

		<div class="section three">
			<div class="three-item">
				<h3>Praha</h3>
				<span>
					Osadní 313/10a
					<br />
					Holešovice (Praha 7),
					<br />
					170 00
				</span>
				<a href="#">
					<span class="adresslink">{t("kontakt.info.text3")}</span>
				</a>
			</div>
			<div class="three-item">
				<h3>Prešov</h3>
				<span>
					Ulica 00000/00
					<br />
					Mesto
					<br />
					Krajina
				</span>
				<a href="#">
					<span class="adresslink">{t("kontakt.info.text3")}</span>
				</a>
			</div>

			<div class="three-item">
				<h4>{t("kontakt.info.text6")}</h4>
				<a href="#"><span>Katalóg v PDF</span></a>
			</div>
			<div class="three-item">
				<h4>{t("kontakt.info.text5")}</h4>
				<a href="#"><span>LinkedIn</span></a>
			</div>
		</div>
		<span class="line"></span>
		<div class="section four">
			<div class="four-item">
				<a>{t("footer.item1")}</a>
				<a>{t("footer.item2")}</a>
			</div>
			<div class="four-item end">
				<span
					><b>&copy; <b id="copyright"></b> Pasuv EU SE.</b>{" "}{
						t("footer.item3")
					}</span
				>
				<a href="#">
					<button class="contact-button">
						<svg
							width="20"
							height="25"
							viewBox="0 0 20 25"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path d="M10 25V1.5" stroke="white" stroke-width="2"
							></path>
							<path
								d="M1.5 10L10 1.5L18.5 10"
								stroke="white"
								stroke-width="2"></path>
						</svg>
					</button>
				</a>
			</div>
		</div>
	</div>
</footer>

<style>
	a {
		text-decoration: none;
		color: white;
	}
	.contact-button {
		background-color: var(--green);
		border: 1px solid rgba(255, 255, 255, 0.32);
		border-radius: 24px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		min-width: 66px;
		min-height: 66px;
		margin-right: 1rem;
		transition: all 0.5s 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.contact-button svg {
		width: 20px;
		height: 20px;
		transition: all 0.5s 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.contact-button:hover {
		background-color: white;
	}
	.linksp:hover .contact-button {
		background-color: white;
	}
	.linksp:hover svg path {
		stroke: black;
	}
	.linksp:hover svg {
		transform: rotate3d(1, 0, 0, 360deg);
	}
	.contact-button:hover svg path {
		stroke: black;
	}

	footer {
		background-color: var(--green);
		color: white;
		text-align: center;
		width: 100%;
		height: fit-content;
	}
	.button-box {
		display: flex;
		justify-content: center;
		align-self: center;
	}
	.container {
		max-width: 1440px;
		margin: 0 auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 2rem 1rem 0 1rem;
	}
	.section {
		display: flex;
		align-items: center;

		height: 100%;
		width: 100%;
	}
	.one {
		flex: 4;
		flex-direction: column;
		justify-content: center;
		gap: 120px;
		margin: 180px 0 80px 0;
	}
	.section.one h3 {
		font-size: 40px;
		font-weight: 400;
		line-height: 48px;
	}
	.two {
		flex: 2;
		display: grid;
		grid-template-columns: repeat(1, 400px);
		align-items: center;
		justify-items: start;
		align-content: center;
		align-content: center;
		justify-content: space-between;
		grid-gap: 2rem;
		margin: 160px auto;
	}

	.three {
		flex: 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		justify-content: space-between;
		margin: 80px 0 50px 0;
		align-items: start;
	}
	.four {
		flex: 1;
		flex-direction: column;
		gap: 2rem;
		justify-content: space-between;
		margin: 40px;
		margin-bottom: 20px;
	}
	.two-item {
		color: white;
		max-width: 300px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: start;
		text-decoration: none;
		transition: all 0.5s ease-in-out;
	}
	.two-item span {
		font-size: 20px;
		font-weight: 400;
		word-wrap: nowrap;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 250px;
	}
	.link {
		position: relative;
		transition: all 0.5s ease-in-out;
	}
	.link::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -5px;
		background-color: rgba(255, 255, 255, 0.32);
		width: 100%;
		height: 1px;
		transform: scale(0);
		transition: all 0.4s ease-in-out;
	}
	.two-item:hover .link::before {
		transform: scale(1);
	}
	.three-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: start;
	}
	.three-item h3 {
		font-size: 20px;
		font-weight: 600;
	}
	.three-item span {
		font-size: 16px;
		font-weight: 400;
		transition: all 0.5s ease-in-out;
	}
	.three-item .adresslink {
		font-weight: 600;
		transition: all 0.5s ease-in-out;
	}
	.three-item a:hover .adresslink {
		text-decoration: underline;
	}
	.line {
		width: 100%;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.32);
		margin: 40px 0 0 0;
		opacity: 0.5;
	}
	.four-item {
		flex: 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: start;
	}
	.four-item a {
		font-size: 16px;
		font-weight: 600;
		margin-right: 1rem;
	}
	.four-item span {
		font-size: 16px;
		font-weight: 400;
		margin-right: 2rem;
	}
	.end a {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.end {
		justify-content: flex-end;
		overflow: hidden;
	}
	.end a {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: 0;
	}
	@media screen and (min-width: 768px) {
		.container {
			padding: 2rem 2rem 0 2rem;
		}
		.two {
			grid-template-columns: repeat(2, 1fr);
		}
		.two-item span {
			font-size: 28px;
		}
		.three {
			grid-template-columns: repeat(4, 1fr);
		}
		.four {
			flex-direction: row;
		}
	}
	.contact-button {
		border-radius: 24px;
		min-width: 66px;
		min-height: 66px;
	}
	.contact-button svg {
		width: 28px;
		height: 28px;
	}
	@media screen and (min-width: 992px) {
		.two {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	@media screen and (min-width: 1024px) {
		.two {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
<script>
	const copyYear: any = document.getElementById("copyright");

	function currentYear() {
		return (copyYear.innerHTML = new Date().getFullYear().toString());
	}

	currentYear();
</script>
