---
import Button from "./ui/Button.astro";

interface HeaderProps {
    style?: 'primary' | 'secondary';
}

const { style = 'primary' } = Astro.props as HeaderProps;

---
<header class={style==='primary' ? "header headerId" : 'header-white'}>
    <div class="left-box">
        <a href="/" class="logo-link">
            {style=== 'primary' 
                ? (<img src="/pasuv-logo.svg" alt="Logo" class="logo" />) 
                : (<img src="/pasuv-logo-white.svg" alt="Logo" class="logo" />)
            }
            <img src="/pasuv-logo-white.svg" alt="Logo" class="logo-alter" />
        </a>
        <div class="lang-box">
            <img src="/lang-select.svg" alt="Language" />
            <select name="lang" id="lang" class="lang-select">
                <option value="en" class="lang-item">English</option>
                <option value="de" class="lang-item">German</option>
                <option value="sk" class="lang-item">Slovak</option>
            </select>
        </div>
    </div>
    <nav class="mobile-nav">
        <ul class="mobile-nav-list">
            <li><a href="/">Domov</a></li>
            <li><a href="/sluzby">Služby</a></li>
            <li><a href="/referencie">Referencie</a></li>
            <li><a href="/ktosme">Kto sme</a></li>
        </ul>
    </nav>

    {style=== 'primary'
        ? (<nav class="right-box">
            <ul class="navbar" id="navbar">
                <li class="underline-white"><a href="/">Domov</a></li>
                <li class="underline-white"><a href="/sluzby">Služby</a></li>
                <li class="underline-white"><a href="/referencie">Referencie</a></li>
                <li class="underline-white"><a href="/ktosme">Kto sme</a></li>
            </ul>
            <div class="btn">
                <Button body="Kontaktujte nás" size={'small'}/></div>
            <div class="btn-blck">
                <Button body="Kontaktujte nás" size={'small'} black/></div>
        </nav>)
        : (<nav class="right-box-secondary">
            <ul class="navbar-secondary">
                <li class="underline"><a href="/">Domov</a></li>
                <li class="underline"><a href="/sluzby">Služby</a></li>
                <li class="underline"><a href="/referencie">Referencie</a></li>
                <li class="underline"><a href="/ktosme">Kto sme</a></li>
            </ul>
            <Button body="Kontaktujte nás" href="/kontakt" size={'small'} black/>
        </nav>)
    }
    
</header>

<style>
    .logo-alter {
        display: none;
        width: 120px;
        height: auto;
        object-position: center;
        object-fit: cover;
    }
    .btn-blck {
        display: none;
    }
    .hidden{
        display: none;
    }
    .display{
        display: block;
    }
    .underline{
        position: relative;
    }
    .underline::after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.3s;
    }
    .underline:hover::after{
        transform: scaleX(1);
    }
    .underline-white{
        position: relative;
    }
    .underline-white::after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 0.3s;
    }
    .underline-white:hover::after{
        transform: scaleX(1);
    }
    .header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem;
        max-height: 4rem;
        z-index: 100;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s;
    }
    .header-white{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem;
        max-height: 4rem;
        z-index: 100;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s;
    }
    .visible{
        position: fixed;
        top: 0;
        transform: translateY(0);
        opacity: 1;
    }
    .left-box{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
    .logo-link{
        width: 120px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 120px;
        height: auto;
        object-position: center;
        object-fit: cover;
    }
    .lang-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }
    .lang-select{
        --webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: 600;
        color: var(--gray-neutral);
        cursor: pointer;
        
    }
    .lang-select:focus{
        outline: none;
    }
    .lang-select:active {
        outline: none;
    }
    .lang-select option{
        background-color: black;
        color: var(--gray-neutral);
        font-size: 10px;
        font-weight: 600;
        margin-top: 5px;
        border: none;
    }
    .mobile-nav{
        /* TODO: switch and make a normal menu */
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background-color: white;
        z-index: 100;
    }



    .right-box{
        display: none;
    }
    .right-box-secondary{
        display: none;
    }
    

/* TODO:   check needence of navbar here */
    .navbar{
        text-decoration: none;
        list-style: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    .navbar li{
        display: flex;
        align-items: center;
    }
    .navbar li a{
        text-decoration: none;
        list-style: none;
        color: var(--gray-lightest);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    .navbar li a:hover{
        color: white;
    }
    .navbar-secondary{
        text-decoration: none;
        list-style: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    .navbar-secondary li{
        display: flex;
        align-items: center;
    }
    .navbar-secondary li a{
        text-decoration: none;
        list-style: none;
        color: var(--gray-dark);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    .navbar-secondary li a:hover{
        color: black;
    }
        

    @media screen and (min-width: 768px) {
        .header{
            max-width: 100vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            align-items: center;
            padding: 2rem;
            max-height: 4rem;
            z-index: 100;
        }
        .header-white{
            max-width: 100vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            align-items: center;
            padding: 2rem;
            max-height: 4rem;
            z-index: 100;
        }
        .left-box{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
        }
        .lang-box {
            display: flex;
            align-items: center;
        }
        .lang-select{
            --webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 600;
            color: var(--gray-neutral);
            cursor: pointer;
            
        }
        .lang-select:focus{
            outline: none;
        }
        .lang-select:active {
            outline: none;
        }
        .lang-select option{
            background-color: black;
            color: var(--gray-neutral);
            font-size: 16px;
            line-height: 24px;
            margin-top: 5px;
            border: none;
        }
       
    }
    @media screen and (min-width: 992px){
        .right-box{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
        }
        .right-box-secondary{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
            color: var(--gray-neutral);
        }   
        .navbar{
            text-decoration: none;
            list-style: none;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }
        .navbar li{
            display: flex;
            align-items: center;
        }
        .navbar li a{
            text-decoration: none;
            list-style: none;
            color: var(--gray-lightest);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
        .navbar-secondary{
            text-decoration: none;
            list-style: none;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }
        .navbar-secondary li{
            display: flex;
            align-items: center;
        }
        .navbar-secondary li a{
            text-decoration: none;
            list-style: none;
            color: var(--gray-dark);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        } 
    }
    
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    let lastScroll = 10;

    const header = document.querySelector('header');
    const headerId = document.querySelector('.headerId');
    const navbar = document.querySelector('#navbar');
    const rightBox = document.querySelector('#right-box');
    const logo = document.querySelector('.logo');
    const logoAlt = document.querySelector('.logo-alter');
    const btn = document.querySelector('.btn');
    const btnBlck = document.querySelector('.btn-blck');
    const line = document.querySelectorAll('.underline-white');

    const checkScroll = () => {
        if (window.scrollY > lastScroll && window.scrollY > 100) {
            header?.classList.remove('visible');
        } else {
            header?.classList.add('visible');
        }
        lastScroll = window.scrollY;
    };
    const checkWhite = () => {
        if(window.scrollY > 300){
            
            headerId?.classList.add('header-white');
            navbar?.classList.add('navbar-secondary');
            rightBox?.classList.add('right-box-secondary');
            logo?.classList.add('hidden');
            logoAlt?.classList.add('display');
            btn?.classList.add('hidden');
            btnBlck?.classList.add('display');
            
            line && line.forEach((el) => {
                el.classList.remove('underline-white');
                el.classList.add('underline');
            });
        } else {
            headerId?.classList.remove('header-white');
            navbar?.classList.remove('navbar-secondary');
            rightBox?.classList.remove('right-box-secondary');
            logo?.classList.remove('hidden');
            logoAlt?.classList.remove('display');
            btn?.classList.remove('hidden');
            btnBlck?.classList.remove('display');

            line && line.forEach((el) => {
                el.classList.remove('underline');
                el.classList.add('underline-white');
            });
        }
    
    }

    checkScroll();
    checkWhite()

    window.addEventListener('scroll', checkScroll);
    window.addEventListener('scroll', checkWhite);
});

</script>