---
import { changeLanguage } from "i18next";
import { referenceData } from "../../../content/referencie/config";
import ModalLayout from "../../../layouts/ModalLayout.astro";

changeLanguage("de");

export async function getStaticPaths() {
    return referenceData.map((item) => {
        return {
            params: {
                slug: item.slug,
            },
        };
    });
}
const slug = Astro.params.slug;
const content = referenceData.find((item) => item.slug === slug);
console.log(content);
if (!content) {
    return Astro.redirect("/404");
}
---
<ModalLayout title=`${slug} | pasuv`>
    <section class="modal">
        <a href="/referencie" class="closebtn"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L21 21" stroke="black" stroke-width="2"/>
            <path d="M21 1L1 21" stroke="black" stroke-width="2"/>
            </svg>
        </a>
        <div class="img-box">
        {content.images.map((imgPath) => (
            <img src={imgPath} alt="" class="modal-img"/>
            ))}
        </div>
    </section>
</ModalLayout>
<style>
    .modal { 
        overflow-x: hidden;
        height: auto;
        background-color: transparent;
        max-width: 1440px;
        margin: auto;
        
       
        padding: 2rem 1rem;
        position: relative;
    }
    .img-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: auto;
        max-width: 1440px;
    }
    .modal-img {
        margin: auto;
        max-width: 1440px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .closebtn {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        background-color: white;
        border: none;
        min-width: 30px;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
    }
    .closebtn svg {
        width: 20px;
        height: auto
    }
</style>